@font-face {
    font-family: 'D-DIN-Bold';
    /* src: url('/public/fonts/DIN-BOLD.OTF') format("opentype"); */
    /* src: url('/public/fonts/DIN-BOLD.OTF'); */
    src: url('../fonts/DIN\ Bold.otf');
}

@font-face {
    font-family: 'DIN-Bold';
    /* src: url('/public/fonts/DIN-BOLD.OTF') format("opentype"); */
    /* src: url('/public/fonts/DIN-BOLD.OTF'); */
    src: url('../fonts/DIN-BOLD.OTF');
}


@font-face {
    font-family: 'D-DIN-Regular';
    src: url('../fonts/DIN-LIGHTALTERNATE.OTF');
}

@font-face {
    font-family: 'D-DIN-Medium';
    src: url('../fonts/DIN-MEDIUM.OTF');
}

@font-face {
    font-family: 'D-DIN-Normal';
    src: url('../fonts/DIN-Normal.ttf');
}

.loadingContainer {
    position: relative;
    /* top: 0;
    left: 0;
    bottom: 0;
    right: 0; */
    width: 100vw;
    height: 100vh;
    background-color: #17152A;
    overflow-x: hidden;
  }
  .myLoading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
  .loading-box{
    margin-top: 70px;
    text-align: center;
  }
  .loading-img{
    width: 80px;
    height: 80px;
   
    /* position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto; */
  }
