@font-face {
    font-family: 'D-DIN-Bold';
    /* src: url('/public/fonts/DIN-BOLD.OTF') format("opentype"); */
    /* src: url('/public/fonts/DIN-BOLD.OTF'); */
    src: url('../fonts/DIN\ Bold.otf');
}


@font-face {
    font-family: 'D-DIN-Regular';
    src: url('../fonts/DIN-LIGHTALTERNATE.OTF');
}

@font-face {
    font-family: 'D-DIN-Medium';
    src: url('../fonts/DIN-MEDIUM.OTF');
}

@font-face {
    font-family: 'D-DIN-Normal';
    src: url('../fonts/DIN-Normal.ttf');
}