@font-face {
    font-family: Poppins;
    src: url('/fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: Poppins-Medium;
    src: url('/fonts/Poppins-Medium.ttf');
}
@font-face {
    font-family: Poppins-Bold;
    src: url('/fonts/Poppins-Bold.ttf');
}
@font-face {
    font-family: Poppins-ExtraLight;
    src: url('/fonts/Poppins-ExtraLight.ttf');
}

.h5-wrap, body {
    font-family: Poppins-ExtraLight;
}
.font-fmedium{
    font-family: Poppins-Medium;
}
.font-fbold {
    font-family: Poppins-Bold;
}
.font-exlt {
    font-family: Poppins-ExtraLight;
}
.community-1{
    padding: 160px 0 85px 0;
}
.name{
    font-family: 'DIN';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.name-detail{
    font-family: 'DIN';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.02em;

    color: #979797;
}
.bg-w-100{
    background-size: 100% auto;
}
.bg-h-100{
    background-size: auto 100%;
}
.main-title{
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(127.27deg, #3555FF 12.05%, #A157FF 85.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    text-shadow: 0px 4px 10px rgba(253, 255, 234, 0.1);
}

.text-gradient {
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    /* gradient */

    background: linear-gradient(127.27deg, #3555FF 12.05%, #A157FF 85.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.menu-text{
    background: linear-gradient(127.27deg, #3555FF 12.05%, #A157FF 85.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.faq-bg{
    background: linear-gradient(127.27deg, #070E31 12.05%, #120622 91.72%);
}
.letter-spacing {
    letter-spacing: 0.02em;
}
.letter-spacing-lg {
    letter-spacing: 0.06em;
}
.btn-bg{
    background: linear-gradient(127.27deg, rgba(53, 85, 255, 0.4) 12.05%, rgba(161, 87, 255, 0.4) 85.34%), #0F0E23;
}
.menu-shadow {
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.57);
    border-radius: 0px 0px 21px 21px;
}
.border-gd{

}
.launch-btn {
    width: 141px;
    height: 44px;
    background: linear-gradient(133.61deg, #3555FF 10%, #A157FF 100%);
    border-radius: 4px;
}
.bg-gr{
    background: linear-gradient(133.61deg, #3555FF 10%, #A157FF 100%);
}
.tip-img{
    margin-bottom: -3.1vw;
}
@media screen and (max-width:1100px) {
    .tip-img{
        margin-bottom: -2.6vw;
    }
}